body {
    display: flex;
    justify-self: center;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: sans-serif;
}

#flexbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

#search {
    max-width: 300px;
}

.text-center {
    border: solid 1px black;
    background-color: lightblue;
    padding: 10px;
}

.form-inline {
    border: solid 1px black;
    background-color: lightblue;
    padding: 10px;
}

#contactlist {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightblue;
    padding: 10px;
}

#loginform {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightblue;
    padding: 10px;
}